@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
}

.nav{
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    padding: 0 1rem;
    font-size: 50px;
    position: sticky;
    top: 0;
}

.site-title{
    margin: 15px;
}

.user-details{
    font-size: 25px;
    margin-top: 22px;
    margin-right: 1000px;
}

.nav ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;

}

.nav a{
    color: inherit;
    text-decoration: none;
    height: 100%;
    margin-right: 8px;
    display: flex;
    align-items: center;
    padding: 0rem;
    font-weight: bold;
    font-size: 25px;
}

.navbar li.selected {
    background-color: #f0f0f0;
}

.nav li.active{
    background-color: #555;
}

